h1{
    font-size: 60px;
}
body {
    width: 100%;
}
p{
    font-size: 25px;
    margin-left: 10px;
    text-align: justify;
    word-break: break-all;
}
h2{
    font-size: 10px;
    margin-left: 10px;
}
h3{
    font-size: 35px;
    text-align: center;
    margin: 10px;
}
h4{
    font-size: 15px;
    margin-left: 10px;
    word-break: break-all;
}
h5{
    font-size: 30px ;
    text-align: center;
}
h6{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    word-break: break-all;
    width: 40%;

}

body {
    font-family: Arial, sans-serif;
}
img{
    width: 700px;
    height: 440px;
    float: left;
    border-radius: 20px;
}
.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.barra-vermelha {
    width: 100%;
    height: 60px;
    padding: 40px 0; 
    background-color: rgb(197, 10, 10);
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.barra-redonda {
    width: 1000px; 
    height: 40px;  
    background-color: #1cef11;
    border-radius: 40px; 
    margin: 30px auto; 
    font-size: center;
    padding: 26px;
}